nav {
  background-color: rgb(216, 192, 192);
  height: 800px;
}
.container {
  border: 1px solid black;
  height: 700px;
}
.top_price {
  border: 2rem solid rgb(5, 187, 30);
  height: 300px;
  border-radius: 5rem;
}
.bottom_ticket {
  border: 2rem solid rgb(219, 0, 0);
  height: 300px;
  border-radius: 5rem;
}
.dati,
.inserisci_dati {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom_ticket {
  align-items: center;
}
.greybox {
  border: 1px solid black;
  background-color: gray;
  height: 50%;
}
.whitebox {
  border: 1px solid black;
  background-color: wheat;
  height: 50%;
}
